/* header */
.logo > img{
    width: 100px;
}
.headeer-wraper{
    padding: 30px 0;

background: #cedbe9; 
background: -moz-linear-gradient(left,  #cedbe9 0%, #aac5de 14%, #cedbe9 27%, #6199c7 39%, #3a84c3 50%, #419ad6 64%, #4bb8f0 76%, #3a8bc2 90%, #26558b 100%); 
background: -webkit-linear-gradient(left,  #cedbe9 0%,#aac5de 14%,#cedbe9 27%,#6199c7 39%,#3a84c3 50%,#419ad6 64%,#4bb8f0 76%,#3a8bc2 90%,#26558b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #cedbe9 0%,#aac5de 14%,#cedbe9 27%,#6199c7 39%,#3a84c3 50%,#419ad6 64%,#4bb8f0 76%,#3a8bc2 90%,#26558b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedbe9', endColorstr='#26558b',GradientType=1 ); /* IE6-9 */

}
.nav-li{
    margin-right: 15px;
    font-size: 24px;
}
.social{
    color: #3D58A6;
    font-size: 30px;
}
.search{
    color: #EE4036;
    font-size: 40px;
}
.social-li::after{
    content: "";
    width: 2px;
    height: 30px;
    background-color: #3D58A6;
    display: inline-block;
    margin: 0 26px;
    vertical-align: top;
}
.social-li:last-child::after{
    display: none;
}
.burger-icon{
    color: #363E97;
    font-size: 30px;
    margin-left: 30px;
    display: none;
    border: 2px solid #3D58A6;
    padding: 10px;
}
.right-block{
    display: flex;
}
/* end header */

/* base classes */
.d-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
.div-p{
    bottom: 30px;
    left: 30px;
    font-size: 30px;
    color: white;
    line-height: 39px;
}
.img-block{
    width: 100%;
}
.p-absolute{
    position: absolute;
}
.p-relative{
    position: relative;
}
.white-logo{
    width: 100px;
    bottom: 30px;
    right: 30px;
}

/* grey-bg section */
.grey-bg{
    background-color: #E6E6E6;
    padding: 30px 0;

background: #feccb1;
background: -moz-linear-gradient(left,  #feccb1 0%, #f17432 25%, #f17432 25%, #f17432 41%, #ea5507 72%, #fb955e 100%);
background: -webkit-linear-gradient(left,  #feccb1 0%,#f17432 25%,#f17432 25%,#f17432 41%,#ea5507 72%,#fb955e 100%);
background: linear-gradient(to right,  #feccb1 0%,#f17432 25%,#f17432 25%,#f17432 41%,#ea5507 72%,#fb955e 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=1 );
}

/* blue-bg section */
.blue-bg{
    padding: 30px 0 90px 0;
    background-color: #363E97;
}
.video{
    width: 570px;
    height: 320px;
}
.video-div{
    width: 570px;
    height: 320px;
    background-color: black;
}
video{
    width: 100%;
    height: 100%;
}
iframe{
    width: 100%;
    height: 100%;
}
.section-title{
    font-size: 24px;
    color: white;
    margin-bottom: 30px;
}

/* img-section */
.images-section{
    background-color: #BDCCD4;
    padding: 30px 0 90px 0;
}
.img-wraper{
    display: flex;
    justify-content: space-between;
}
.article-title{
    background-color: #E6E6E6;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 60px;
}
.article-wraper img{
    display: block;
}
.article-wraper{
    margin-top: 30px;
    box-shadow: 10px 15px 10px black;
}
.article-wraper:nth-child(1),
.article-wraper:nth-child(2),
.article-wraper:nth-child(3),
.article-wraper:nth-child(4),
/* end img-section */

/* About-page */
.red-bg{
    background-color: #EE4036;
    padding: 35px 0;
}
.red-bg h2{
    color: #ffffff;
    font-size: 22px;
}
.image-block{
    border: 2px solid red;
    padding: 52px;
    width: 100%;
    margin-right: 51px;
}
.wraper-image-about:nth-child(2) .image-block{
    padding: 104px 70px;
}
.image-block:nth-child(3){
    margin-right: 0;
}
.images-section-about{
    margin-top: 50px;
}
.div-line{
    margin-top: 38px;
    margin-bottom: 27px;
    width: 100%;
    height: 2px;
    background-color: red;
}
.team-h2{
    text-transform: uppercase;
    font-size: 22px;
    color: #EE4036;
    margin-bottom: 48px;
}

/* media */

@media (max-width: 1170px){
    .container{
        padding: 0 15px;
    }
}
@media (max-width: 1135px){
    .img-wraper{
        flex-wrap: wrap;
    }
}
@media (max-width: 1024px){
    .navigation{
        display: none;
    }
    .burger-icon{
        display: block;
    }
    .article-wraper:last-child{
        display: none;
    }
    .video-wraper{
        flex-wrap: wrap;
        justify-content: center;

    }
    .video-div{
        margin-top: 30px
    }
    .article-wraper{
        width: 32%;
    }
    .article-wraper > img{
        width: 100%;
    }
    .article-wraper:nth-child(4){
        margin-top: 30px;
    }
}
@media (max-width: 480px){
    .social-li:not(.active){
        display: none;
    }
    .article-wraper{
        width: 100%;
    }
    .article-wraper:nth-child(3){
        margin-top: 30px;
    }
    .d-flex{
        flex-wrap: wrap;
    }
    .article-wraper{
        width: 48%;
    }
    .article-wraper > img{
        width: 100%;
    }
    .article-wraper:nth-child(3){
        margin-top: 30px;
    }
}
@media (max-width: 950px){
    .div-p{
        font-size: 22px;
        line-height: 30px;
    }
    .white-logo{
        width: 70px;
    }
}
@media (max-width: 420px){
    .div-p{
        font-size: 12px;
        line-height: 20px;
    }
}